body {
    background-image: linear-gradient(black, red);
    background-repeat: no-repeat, no-repeat;
    height: 100%;
}

.header {
    font-size: 6rem;
}

#header1 {
    line-height: 30px;
    
}

#header2 {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
}

h1, h2, h3 {
    font-family: 'Audiowide', cursive;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#inputFields {
    text-align: left;
}

#firstName, #lastName, #maidenName, #cityName {
    background-color: red;
    font-family: 'Audiowide', cursive;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
} 

#button {
    background-color: black;
    color: red;
    font-weight: bold;
    font-size: 4rem;
    font-family: 'Audiowide', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 410px;
    right: 10px;
    width: 1200px;
    border-radius: 2%;
    cursor: pointer;
}

#button:hover {
    background-color: grey;
}

#output p {
    position: fixed;
    top: 540px;
    right: 10px;
    width: 1200px;
    height: 350px;
    background-color:black;
    color:red;
    line-height: 300px;
    font-size: 100px;
    font-family: 'Audiowide', cursive;
    border-style: groove;
    border-radius: 10%;
    margin: auto;
}

#demo {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    text-align: center;
}

#reset {
    position: fixed;
    top: 310px;
    right: 10px;
    width: 301px;
    border-style: groove;
    background-color: black;
    color: red;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Audiowide', cursive;
    cursor: pointer;
}

#reset:hover {
    background-color: grey;
}






