body {
    background-image: linear-gradient(black, red);
    background-repeat: no-repeat;
    background-size: cover;
    height: 52.08em;
}

#header1 {
    font-size: 5vw; /*text size will adjust with the size of the browser window - 5vw is 5% of the browser width*/
    line-height: 0em;
    color: red;
}

#header2 {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 17vw;
}

h2, p {
    font-family: 'Audiowide', cursive;
    font-size: 1.40vw;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#inputFields {
    text-align: left;
    height: 1vw;
    width: 30vw;
}

#firstName, #lastName, #maidenName, #cityName {
    background-color: red;
    font-family: 'Audiowide', cursive;
    font-size: 1.40vw;
    font-weight: bold;
    height: 2vw;
    width: 30vw;
    cursor: pointer;
} 

#button {
    position: fixed;
    top: 8.0em;
    right: 1vw;
    width: 60.25vw;
    height: 1.25em;
    margin: auto;
    background-color: black;
    color: red;
    font-weight: bold;
    font-size: 3vw;
    line-height: 1em;
    font-family: 'Audiowide', cursive;
    border-style: groove;
    border-radius: 0%;
    cursor: pointer;
}

#button:hover {
    background-color: grey;
}

#output p {
    position: fixed;
    top: 9.5em;
    right: 1vw;
    width: 60vw;
    height: 8vw;
    margin: auto;
    padding-top:0.3em;
    background-color:black;
    color:red;
    font-size: 3vw;
    line-height: 1em;
    text-align: center;
    font-family: 'Audiowide', cursive;
    border-style: groove;
    border-radius: 10%;
}

#demo {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    text-align: center;
}

#reset {
    position: fixed;
    top: 13.5em;
    right: 1vw;
    width: 60.25vw;
    height: 1.25em;
    margin: auto;
    background-color: black;
    color: red;
    font-weight: bold;
    font-size: 3vw;
    line-height: 1em;
    font-family: 'Audiowide', cursive;
    border-style: groove;
    border-radius: 0%;
    cursor: pointer;
}

#reset:hover {
    background-color: grey;
}






